<div class="archive-page">
      <div class="container">
        
        <div class="preloader-background image" *ngIf="loading">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        
        <div [hidden]="loading || (results && results.length)">
          <h4>No hay datos guardados</h4>
          <p class="flow-text">
              Prueba seleccionando una localización desde el mapa o el formulario de consulta.
          </p>
        </div>
        
        <nav [hidden]="loading || totalPages.length <= 1">
          <ul>
            <li class="page-item"
              [ngClass]="{'active': pageNumber === currentPage}"
              *ngFor="let pageNumber of totalPages"
              (click)="setPageTo(pageNumber)">
        
              <a class="page-link" >{{ pageNumber }}</a>
            </li>
          </ul>
        </nav>

        <div class="row">
            <div class="col s12 m6 l4" *ngFor="let location of results">
                <location-component [location]="location.properties"></location-component>
          </div>
        </div>
    </div>
</div>

